/* CS465 Lab1 style file */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    color: #e3610b;
    text-align: center;
}

p {
    color: #110864;
    font-size: 16px;
    margin-bottom: 10px;
}
